.Todo{
    height: 100vh;
    background-color: #1f1e1e;
    color: white;
    overflow: hidden;
    width: 100%;
    overflow-y: auto;
    display: flex;
}
.todo-main-cont{
    background-color: #353434;
    width: 75%;
    box-shadow: 0px 5px 7px black;
    padding: 2%;
    height: 100%;
}
.todo-main-sidebar{
    width: 25%;
}
.todo-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.todo-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
.todo-cont label{
    font-weight: bold;
    margin-bottom: 10px;
}
.todo-cont input{
    padding: 8px;
    border: none;
    width: 250px;
}
.todo-cont select{
    padding: 8px;
    border: none;
    width: 250px;
}
.mybtn{
    background-color: rgb(0,230,122);
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    padding: 10px;
    cursor: pointer;
}
.mybtn:focus{
    outline: none;
    border: none;
}
.Btn{
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    padding: 10px;
    cursor: pointer;
}
.Btn:focus{
    outline: none;
    border: none;
}
.status-area{
    margin-bottom: 15px;
}
.active{
    background-color: rgb(0,230,122);
}
.todolist{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    padding-bottom: 20px;
    padding-top: 25px;
    margin-bottom: 10px;
}
.list-cont{
    width: 100%;
    background-color: rgb(44,44,44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-bottom: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px rgb(43,42,42);
} 
.icon{
    font-size: 30px;
    cursor: pointer;
}
.icon:hover{
    color: red;
}
.check-icon{
    font-size: 25px;
    margin-left: 10px;
    color: rgb(0,230,122);
    cursor: pointer;
}
.check-icons{
    font-size: 20px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}
.check-icons:hover{
    color: rgb(4,196,106);
}
.check-icon:hover{
    color: rgb(4,196,106);
}
.Statusbtn{
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}
.deletebtn{
    padding: 5px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
}
.todo-main-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.status-area{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}